h1  {
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  font-style: oblique;
  font-size: 5em;
  color: white;
}

h2  {
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

h3  {
  font-family: 'Courier New', Courier, monospace;
}

h4  {
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  color: white;
}

body  {
  background-color: lightpink;
}

.jumbotron  {
  background-image: url(/img/gimme-pizza.png);
  background-size: cover;
  height: 100%;
  min-height: 300px;
  opacity: 70%;
  background-color: lightpink;
}

.container  {
  margin-bottom: 50px;
}

.top  {
  background-color: tomato;
  width: 80%;
}

.size-select {
  float: left;
  width: 45%;
  padding: 5%;
  margin-right: 3%;
  background-color: lightsalmon;
  border-radius: 20px;
}

.sauce-select {
  float: left;
  width: 45%;
  padding: 5%;
  margin-left: 3%;
  background-color: lightsalmon;
  border-radius: 20px;
}

.meat-select  {
  float: left;
  width: 30%;
  padding: 3%;
  margin-top: 2%;
  margin-right: 2%;
  background-color: violet;
  border-radius: 20px;
}

.veggie-select  {
  float: left;
  width: 30%;
  padding: 3%;
  margin: 2%;
  background-color: violet;
  border-radius: 20px;
}

.cheese-select  {
  float: left;
  width: 30%;
  padding: 3%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: violet;
  border-radius: 20px;
}

.btn  {
  background-color: rgb(136, 207, 255);
  font-size: 18pt;
  border-radius: 15px;
  display: block;
  width: auto;
}

.cost  {
  display: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 18pt;
  color: white;
  padding: 5%;
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  border: 3px solid violet;
  border-radius: 20px;
}